<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simit.activity" >

    <!-- 权限声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application
        android:name="com.simit.ReaderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="com.simit.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.simit.activity.MainActivity"
            android:label="MainActivity">
        </activity>


        <activity
            android:name="com.simit.activity.DetailActivity"
            android:parentActivityName="com.simit.activity.MainActivity"
            android:hardwareAccelerated="true">
            <!-- meta-data 用于支持support 4.0以及以下指明上级活动 -->
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.simit.sneezereader.MainActivity" />
        </activity>

        <activity android:name="com.simit.activity.AboutActivity"
            android:parentActivityName="com.simit.activity.MainActivity" >

            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.simit.sneezereader.MainActivity" />
        </activity>

        <activity android:name="com.simit.activity.SettingActivity"
            android:parentActivityName="com.simit.activity.MainActivity" >

            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.simit.sneezereader.MainActivity" />
        </activity>

        <activity android:name="com.simit.activity.FeedBackActivity"
            android:parentActivityName="com.simit.activity.SettingActivity" >

            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.simit.sneezereader.SettingActivity" />
        </activity>

        <activity android:name="com.simit.activity.FavoriteActivity"
            android:parentActivityName="com.simit.activity.MainActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.simit.sneezereader.MainActivity" />
        </activity>

        <activity android:name="com.simit.activity.FavoriteDetailActivity"
            android:parentActivityName="com.simit.activity.FavoriteActivity">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.simit.sneezereader.FavoriteActivity" />
        </activity>

        <service android:name="com.simit.service.UpdateService">

        </service>

        <provider
            android:authorities="com.simit.database.ArticleProvider"
            android:name="com.simit.database.ArticleProvider">

        </provider>


        <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>

        <activity android:name="com.simit.activity.ShareActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.simit.activity.wxapi.WXEntryActivity"
            android:label="WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
        </activity>
    </application>

</manifest>
